<header>
  <img
    src="https://gist.githubusercontent.com/maykbrito/f47569e32fb2b21f2ecc9f4c035c141f/raw/a45997404564112d7596fbb1b9cad5de5521927e/logo.svg"
    alt="Logo NLW"
  />
  <h1>Teste seus conhecimentos</h1>
</header>
